@font-face {
    font-family: 'MaPolice';
    src: url('lib/Gliker-Regular.woff2') format('woff2');
    font-style: normal;
}

#container {
    background: radial-gradient(circle at center, #e9c92c 50%, #ef43ff 100%);   
}

h1 {
    font-family: 'MaPolice';
    letter-spacing: 3px;
    font-size: 50px;
}